@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

  html, body {width: auto!important; overflow-x: hidden!important} 
  
  .imgLoader {
      position: fixed;
      animation: preLoad 0.9s steps(1);
      width: 1px;
      height: 1px;
  }
  
  @keyframes preLoad {
      0% {
          background-image: url('https://picsum.photos/420/300?random=1');
      }
  
      10% {
          background-image: url('https://picsum.photos/420/300?random=2');
      }
  
      20% {
          background-image: url('https://picsum.photos/420/300?random=3');
      }
  
      30% {
          background-image: url('https://picsum.photos/420/300?random=4');
      }
  
      40% {
          background-image: url('https://picsum.photos/420/300?random=5');
      }
  
      100% {
          display: none;
      }
  }
  
  
  
  
  
  
  .book {
      position: relative;
      perspective: 600px;
      perspective-origin: center 50px;
      filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
    }
    
    /* Media query for screens with width less than or equal to 767px (mobile screens) */
    @media (min-width: 300px) and (max-width: 339px) {
      .book {
        transform: scale(0.7);
      }
    }
    @media (min-width: 340px) and (max-width: 767px) {
      .book {
        transform: scale(0.8);
      }
    }
    
    /* Media query for screens with width between 768px and 1023px (laptop and tab screens) */
    @media (min-width: 1024px) and (max-width: 1280px) {
      .book {
        transform: scale(1.2);
      }
    }
    @media (min-width: 1035px) and (max-width: 2000px) {
      .book {
        transform: scale(1.3);
        margin-top: -30px;
      }
    }
    /* Add more media queries as needed for other screen sizes */
    
  
  .page {
      width: 210px;
      height: 300px;
      background-color: rgb(0, 0, 0);
      position: absolute;
      top: 0px;
      right: 50%;
      transform-origin: 100% 100%;
      border: solid rgb(0, 0, 0) 2px;
      background-size: 420px 300px;
      background-position: center;
      transform-style: preserve-3d;
  }
  
  .page:nth-child(1) {
      transform: rotateX(60deg) rotateY(3deg);
  }
  
  .page:nth-child(2) {
      transform: rotateX(60deg) rotateY(4.5deg);
  }
  
  .page:nth-child(3) {
      transform: rotateX(60deg) rotateY(6deg);
      animation: nextPage 25s infinite -24s steps(1);
      background-size: 420px 300px;
      background-position: -2px -2px;
  }
  
  .page:nth-child(4) {
      transform: rotateX(60deg) rotateY(177deg);
  }
  
  .page:nth-child(5) {
      transform: rotateX(60deg) rotateY(175.5deg);
  }
  
  .page:nth-child(6) {
      transform: rotateX(60deg) rotateY(174deg);
      overflow: hidden;
  }
  
  .page:nth-child(6)::after {
      content: '';
      width: 210px;
      height: 300px;
      position: absolute;
      top: 0px;
      right: 0%;
      transform-origin: center;
      transform: rotateY(180deg);
      animation: nextPage 25s -20s infinite steps(1);
      background-size: 420px 300px;
      background-position: 100% -2px;
  }
  
  @keyframes nextPage {
      0% {
          background-image: url('https://picsum.photos/420/300?random=1');
      }
  
      20% {
          background-image: url('https://picsum.photos/420/300?random=2');
      }
  
      40% {
          background-image: url('https://picsum.photos/420/300?random=3');
      }
  
      60% {
          background-image: url('https://picsum.photos/420/300?random=4');
      }
  
      80% {
          background-image: url('https://picsum.photos/420/300?random=5');
      }
  }
  
  .gap {
      width: 10px;
      height: 300px;
      background: none;
      transform: rotateX(60deg);
      transform-origin: bottom;
      position: absolute;
      top: 0px;
      left: calc(50% - 5px);
  }
  
  .gap::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: rgb(0, 0, 0);
      width: 10px;
      height: 5px;
      border-radius: 50%;
  }
  
  .pages, .flips {
      transform-style: preserve-3d;
  }
  
  .flip {
      width: 32px;
      height: 300px;
      position: absolute;
      top: 0px;
      transform-origin: 100% 100%;
      right: 100%;
      border: solid #555;
      border-width: 2px 0px;
      perspective: 4200px;
      perspective-origin: center;
      transform-style: preserve-3d;
      background-size: 420px 300px;
  }
  
  .flip::after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0%;
      width: 100%;
      height: 100%;
      transform-origin: center;
      background-size: 420px 300px;
  }
  
  .flip.flip1 {
      right: 50%;
      animation: flip1 5s infinite ease-in-out;
      border-width: 2px 2px 2px 0;
  }
  
  .flip.flip1::after {
      animation: nextFlip1 25s -20s infinite steps(1);
  }
  
  .flip:not(.flip1) {
      right: calc(100% - 2px);
      top: -2px;
      transform-origin: right;
      animation: flip2 5s ease-in-out infinite;
  }
  
  @keyframes flip1 {
      0%, 20% {
          transform: rotateX(60deg) rotateY(6deg);
      }
  
      80%, 100% {
          transform: rotateX(60deg) rotateY(174deg);
      }
  }
  
  @keyframes flip2 {
      0%, 20% {
          transform: rotateY(0deg) translateY(0px);
      }
  
      50% {
          transform: rotateY(-15deg) translateY(0px);
      }
  }
  
  .flip.flip2::after {
      animation: nextFlip2 25s infinite -24s steps(1);
  }
  
  .flip.flip3::after {
      animation: nextFlip3 25s infinite -20s steps(1);
  }
  
  .flip.flip4::after {
      animation: nextFlip4 25s infinite -16s steps(1);
  }
  
  .flip.flip5::after {
      animation: nextFlip5 25s infinite -12s steps(1);
  }
  
  .flip.flip6::after {
      animation: nextFlip6 25s infinite -8s steps(1);
  }
  
  .flip.flip7 {
      width: 30px;
      border-width: 2px 0px 2px 2px;
  }
  
  .flip.flip7::after {
      animation: nextFlip7 25s infinite -4s steps(1);
  }
  
  @keyframes nextFlip1 {
      0%, 20% {
          background-image: url('https://picsum.photos/420/300?random=1');
          background-position: -178px -2px;
          transform: rotateY(0deg);
      }
  
      30%, 40% {
          background-image: url('https://picsum.photos/420/300?random=2');
          background-position: -210px -2px;
          transform: rotateY(180deg);
      }
  }
  
  @keyframes nextFlip2 {
      0%, 20% {
          background-image: url('https://picsum.photos/420/300?random=1');
          background-position: -148px -2px;
          transform: rotateY(0deg);
      }
  
      30%, 40% {
          background-image: url('https://picsum.photos/420/300?random=2');
          background-position: -178px -2px;
          transform: rotateY(180deg);
      }
  }
  
  @keyframes nextFlip3 {
      0%, 20% {
          background-image: url('https://picsum.photos/420/300?random=2');
          background-position: -148px -2px;
          transform: rotateY(0deg);
      }
  
      30%, 40% {
          background-image: url('https://picsum.photos/420/300?random=3');
          background-position: -178px -2px;
          transform: rotateY(180deg);
      }
  }
  
  @keyframes nextFlip4 {
      0%, 20% {
          background-image: url('https://picsum.photos/420/300?random=3');
          background-position: -148px -2px;
          transform: rotateY(0deg);
      }
  
      30%, 40% {
          background-image: url('https://picsum.photos/420/300?random=4');
          background-position: -178px -2px;
          transform: rotateY(180deg);
      }
  }
  
  @keyframes nextFlip5 {
      0%, 20% {
          background-image: url('https://picsum.photos/420/300?random=4');
          background-position: -148px -2px;
          transform: rotateY(0deg);
      }
  
      30%, 40% {
          background-image: url('https://picsum.photos/420/300?random=5');
          background-position: -178px -2px;
          transform: rotateY(180deg);
      }
  }
  
  @keyframes nextFlip6 {
      0%, 20% {
          background-image: url('https://picsum.photos/420/300?random=5');
          background-position: -148px -2px;
          transform: rotateY(0deg);
      }
  
      30%, 40% {
          background-image: url('https://picsum.photos/420/300?random=1');
          background-position: -178px -2px;
          transform: rotateY(180deg);
      }
  }
  
  @keyframes nextFlip7 {
      0%, 20% {
          background-image: url('https://picsum.photos/420/300?random=1');
          background-position: -2px -2px;
          transform: rotateY(0deg);
      }
  
      40%, 53% {
          background-image: url('https://picsum.photos/420/300?random=2');
          background-position: -30px -2px;
          transform: rotateY(180deg);
      }
  }
  /* YourComponent.css */
  
  .cardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; /* Adjust as needed */
    }
    
    .card {
      width: 100px; /* Adjust width as needed */
      height: 150px; /* Adjust height as needed */
      background-color: #000000;
      border: 1px solid rgb(0, 0, 0);
    }
    
    .centeredCard {
      width: 100px; /* Adjust width as needed */
      height: 150px; /* Adjust height as needed */
      background-color: #000000;
      border: 1px solid rgb(0, 0, 0);
      margin-top: 10px; /* Adjust margin as needed */
    }
    
    .demo-section:hover {
      background: url(#background-gradient-hover);
    }
    
    .demo-section:hover svg {
      width: 50px;
      height: 50px;
    }
    
    .demo-section:hover image {
      width: 100px;
      height: 100px;
    }
    .team-image {
      transition: transform 0.3s ease-in-out;
    }
  
    .team-image:hover {
      transform: scale(1.1);
    }
    .background-circle {
      width: 40px;
      height: 40px;
      background: linear-gradient( 125deg, #879dff, #ffffff);
  
      border-radius: 50%;
      z-index: 0;
      margin-top: -2px; /* Adjust the distance from the top */
      margin-right: 10px; /* Adjust the distance from the right */
      display: inline-block; /* Ensures that the circle doesn't disrupt the flow of the text */
      padding-left: -8px;  
  }
  
    .text-content {
      display: inline-block; /* Ensures that the text and circle are in the same line */
      margin-left: 10px; /* Adjust the distance to move the text to the right */
      margin-top: 4px;
  }
  .text2xl {
      font-size: 1.6rem/* 24px */;
      line-height: 2rem/* 32px */;
  }
  /* Default style */
  .sliderStyle {
      margin-top: -6rem;
    }
    
    /* Media query to remove marginTop for devices with a width of 1024px or more */
    @media (min-width: 1024px) {
      .sliderStyle {
        margin-top: -3rem;
      }
    }
    /* Add this in your CSS file */
  @media (min-width: 1536px) {
      /* Tablets and larger screens */
      .card-margin {
          
              padding-left: 5rem/* 80px */;
              padding-right: 5rem/* 80px */;
          }
          .margin1{
              margin-bottom: -200px;
          }
          .margin2{
              margin-bottom: -400px;
          }
    }
   
    
  
  
  
  
  @media (min-width: 300px) and (max-width: 500px) {
      .mx10 {
          margin-left: 1rem; 
        }
    }
    @media (min-width: 501px) and (max-width: 767px) {
      .mx10 {
          margin-left: 6rem; 
        }
    }
    
    /* Media query for screens with width between 768px and 1023px (laptop and tab screens) */
    @media (min-width: 768px) and (max-width: 1023px) {
      .mx10 {
          margin-left: 10rem; 
        }
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      .mx10 {
          margin-left: 4rem; 
        }
    }
  
    @media (min-width: 1279px) and (max-width: 1535px) {
      .mx10 {
          margin-left: 10rem; 
        }
    }
    @media (min-width: 1536px) and (max-width: 2000px) {
      .mx10 {
          margin-left: 5rem; 
        }
    }
    @media (min-width: 1024px) {
      .text-left {
          margin-left: auto;
         padding-left: -0rem; 
         margin-right: 5rem;
        
      }
  }
  @media (min-width: 1024px) {
      .project-text {
          margin-top: -12rem;
          margin-left: 8rem;
      }
  }
  
  @media (min-width: 300px) and (max-width:766px) {
      .vision-top{
          margin-top: -4rem;
      }
  }
  @media (min-width: 1024px) and (max-width:2000px) {
      .vision-top{
          margin-top: -12rem;
      }
  }
  @media (min-width: 1535px) {
      .aboutsec {
        margin-left: 6rem; /* You can adjust the value based on your requirements */
        margin-right: 6rem; /* You can adjust the value based on your requirements */
      }
    }
    @media (min-width: 1024px) {
      .full-text {
          max-width: 30rem/* 448px */;
      }
      .text-left{
        margin-left: -2rem;
      }
  }
  .heading-text{
      
          font-size: 3.875rem/* 30px */;
          line-height: 2.25rem/* 36px */;
      
  }
  .heading-small{
      font-size: 2.875rem;
      line-height:2rem;
  }
  .rounded-radius {
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  
    @media (min-width: 360px) {
      .nowraps {
          white-space: nowrap;
              
        }
      
     
    
    }
      
  
  @media (max-width: 360px) {
    .nowraps {
        white-space: nowrap;
            
      }
    
   
    .text2xl {
      font-size: 1.3rem;
      line-height: 2rem;
  }
}
.card{
    width:23rem;
   
}
@media (min-width: 1100px) {
 
  
 
  .text2xl {
    font-size: 2rem;
    line-height: 2rem;
  
}  .background-circle {
  width: 50px;
  height: 50px;
  background: linear-gradient(80deg, rgba(46, 113, 195, 1), rgba(0, 194, 255, 0.5));

  border-radius: 50%;
  z-index: 0;
  margin-top: -2px; /* Adjust the distance from the top */
  margin-right: 10px; /* Adjust the distance from the right */
  display: inline-block; /* Ensures that the circle doesn't disrupt the flow of the text */
  padding-left: -8px;  
}
.text-content {
  display: inline-block; /* Ensures that the text and circle are in the same line */
  margin-left: 10px; /* Adjust the distance to move the text to the right */
  margin-top: 9px;
}
}
.bg-custom-gradient {
    background: linear-gradient(30deg, #00C2FF, #6D56FF);
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    
  }
  .button-custom:hover {
    background: linear-gradient(30deg, #6D56FF, #00C2FF); /* Gradient background on hover */
    color: white; /* Change text color on hover if needed */
    
  }
  @media (max-width: 367px) {
    .md\:whitespace-nowrap {
       font-size: x-small;
    }
}